@media (min-width: 48em) {
  .sidebar-sticky {
   bottom: none;  /* Make sidebar stick to the top instead of the bottom. */
  }
}

.site-avatar img { 
    border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50% 
}

body {  
  color: #333;
}

body .post p {
  font-family: Georgia, "PT Sans", Helvetica, Arial, sans-serif; 
}

.sidebar-about h1 a {
 text-decoration: none;
  transition: color 0.3s;
   font-size: 0.5em;
}

.sidebar-about h1 img {
  margin-bottom: -10%;
}